version: "3"
services:
  postgres:
    image: postgres:16
    container_name: listy-postgres
    restart: always
    ports:
      - "5432:5432"
    environment:
      POSTGRES_DB: appdb
      POSTGRES_USER: appuser
      POSTGRES_PASSWORD: secret
    volumes:
      - listy_postgres_data:/var/lib/postgresql/data

volumes:
  listy_postgres_data:
